.control-panel {
    padding: 15px 0;
    display: flex;
    width: 74%;
    margin-left: 2px;
    opacity: 90%;
    position: fixed;
    height:10%;
    margin-top: 110px;
    background-color: black;
    justify-content: space-between;
  }
  
  .timer {
    margin-right: 30px;
    font-size: 15px;
    margin-left: 30px;
    font-weight: 600;
    color: rgb(196, 196, 196);
  }